<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/styles.css">

    <title> - Videos y Clips</title>
    <link rel="shortcut icon" href="../assets/images/logo.png">
    <meta  name="description" content="Página oficial de AndoresuSama, Aquí encontrarás clips y videos sacados directo de los Streams">
    <meta name="keywords" content="stream, livestream, twitch, streaming, obs, gaming, lol, follows, subs, andoresusama, ando, sama, streamer, valorant, dark souls, content, contenido, creador, juegos, jugador, gamer, youtube, videos, clips, horarios, calendario, redes, resubido,">
</head>

<header>
    <!--Menú de Navegación-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <!-- Link hacia el Index -->
            <a class="navbar-brand js-scroll-trigger" href="../index.html">AndoresuSama</a>
            <!-- Botón para menú desplegable disp móviles -->
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <!-- Menú para secciones del Sitio Web -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- Seccion 1 -->
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="quiensoy.html">¿Quién soy?</a></li>
                    <!-- Seccion 2 -->
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="videosyclips.html">Videos y clips</a></li>
                    <!-- Seccion 3 -->
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="subs.html">Suscriptores</a></li>
                    <!-- Seccion 4 -->
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="horarios.html">Horarios</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>

<body>
    <!--              Carrusel              -->
    <main>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <!-- Carrusel slide 1 -->
                <div class="carousel-item active">
                    <a href="https://www.twitch.tv/andoresusama"><img class="d-block w-100" src="../assets/images/BANNER-TWITCH-NEGRO.jpg" alt="First slide"></a>
                    <div class="carousel-caption d-none d-md-block caption-placement">
                        <h5>Sígueme en Twitch</h5>
                        <p>Hago streams casi todos los días!</p>
                    </div>
            </div>
                <!-- Carrusel slide 2 -->
                <div class="carousel-item">
                    <a href="#footer"><img class="d-block w-100" src="../assets/images/pile-of-3d-popular-social-media-logos-2.jpg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block"></a>
                        <h5>Sígueme en mis redes sociales!</h5>
                        <p>Puedes encontrarme en Facebook, Instagram, Twitter, Twitch y Youtube</p>
                    </div>
                </div>
                <!-- Carrusel slide 3 -->
                <div class="carousel-item">
                    <a href="./views/quiensoy.html"><img class="d-block w-100" src="../assets/images/setup1.jpg" alt="Third slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Set-Up</h5>
                        <p>Este es el lugar dónde hago streams, ¿Quieres saber más?</p>
                    </div>
                </div>
            <!-- Controles de Carrusel -->
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            </div>
    </main>
        
        <section class="container-fluid" id="clips-section-title">
            <div class="row">
                <div class="col">
                        <h2>¡Encuentra aquí los mejores videos y clips de mis Streams!</h2>
                </div>
            </div>
        </section>
        <section class="container-fluid" id="video-section">
            <div id="video-clips-posit">
                <div class="col">
                    <iframe width="240" height="134" src="https://www.youtube.com/embed/0hI38UDWFzs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="240" height="134" src="https://www.youtube.com/embed/I_4K4SeqBko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="240" height="134" src="https://www.youtube.com/embed/P4K_x6SO7t8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="240" height="134" src="https://www.youtube.com/embed/VMtEYD9YIwQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row" id="video-clips-posit2">
                <div class="col">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0hI38UDWFzs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/I_4K4SeqBko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/P4K_x6SO7t8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VMtEYD9YIwQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

<!-- Footer contenedor de Redes Sociales -->
<footer class="container-fluid" id="footer">
    <div class="row">
        <div class="orden-logos container-fluid">
            <!-- Icono y Logo de Twitch -->
            <div class="twitch-icon">
                <a href="https://www.twitch.tv/andoresusama"><img src="../assets/images/twitch (2).svg" alt="twitch logo"></a>
                <h4>Twitch</h4>
            </div>
            <!-- Icono y Logo de YouTube -->
            <div class="youtube-icon">
                <a href="https://www.youtube.com/channel/UCrBQLRKQ7cNxHEbGM-YYumA"><img src="../assets/images/youtube.svg" alt="youtube logo"></a>
                <h4>Youtube</h4>
            </div>
            <!-- Icono y Logo de Facebook -->
            <div class="facebook-icon">
                <a href="https://www.facebook.com/andressamayt"><img src="../assets/images/facebook.svg" alt="Facebook Logo"></a>
                <h4>Facebook</h4>
            </div>
            <!-- Icono y Logo de Instagram -->
            <div class="instagram-icon">
                <a href="https://www.instagram.com/andressamayt/"><img src="../assets/images/logotipo-de-instagram.svg" alt="Instagram Logo"></a>
                <h4>Instagram</h4>
            </div>
            <!-- Icono y Logo de Twitter -->
            <div class="twitter-icon">
                <a href="https://twitter.com/AndresSamaYT"><img src="../assets/images/twitter.svg" alt="Twitter Logo"></a>
                <h4>Twitter</h4>
            </div>
        </div>
    </div>
</footer>

</html>