$sectionsBackground:         linear-gradient(to bottom, #dd1818, #333333);
$sectionsBackgroundRight:    linear-gradient(to right, #dd1818, #333333);
$marginCarousel:             40px;
$paddingSections:            40px;