@charset "UTF-8";
body {
  background-color: #202020;
  color: white; }

nav {
  background-color: black; }
  nav div a {
    color: white;
    font-weight: bold; }
  nav div a:hover {
    color: red; }

.correccionDeColor {
  color: black; }

ul li a {
  font-weight: bold; }

footer {
  border: black 1px solid;
  border-radius: 8px;
  padding-bottom: 40px; }

.orden-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.twitch-icon {
  display: flex;
  flex-direction: column;
  align-items: center; }

.twitch-icon:hover {
  color: red; }

.youtube-icon {
  display: flex;
  flex-direction: column;
  align-items: center; }

.youtube-icon:hover {
  color: red; }

.facebook-icon {
  display: flex;
  flex-direction: column;
  align-items: center; }

.facebook-icon:hover {
  color: red; }

.instagram-icon {
  display: flex;
  flex-direction: column;
  align-items: center; }

.instagram-icon:hover {
  color: red; }

.twitter-icon {
  display: flex;
  flex-direction: column;
  align-items: center; }

.twitter-icon:hover {
  color: red; }

h3 {
  text-align: center; }

form p {
  text-align: center; }

#title-schedule {
  display: flex;
  justify-content: center; }

iframe, img {
  animation-duration: 4s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*------ Pantallas Pequeñas ------*/
@media only screen and (min-width: 320px) {
  main div {
    margin-top: 40px;
    margin-bottom: 10px; }
  #index-clips, #index-subs, #index-bio, #index-schedule, #clips-section-title, #video-section, #form-box, #title-schedule, footer {
    padding-top: 40px;
    border: black 1px solid;
    border-radius: 8px; }
  #index-subs, #index-bio, #index-schedule, #clips-section-title, #video-section, #form-box, #title-schedule, footer {
    margin-top: 20px; }
  #index-clips, #index-subs, #index-bio, #index-schedule, #clips-section-title, #video-section, #form-box, #title-schedule {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to bottom, #dd1818, #333333); }
  #video-clips-index, #sama-animado-index, #calendario-img-index {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #video-clips-index2, #video-clips-posit2 {
    display: none; }
  #clips-section-title {
    text-align: center; }
  #video-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
  h4 {
    font-size: 0.5rem;
    font-weight: normal;
    padding-top: 5px; }
  #ordenDelFormulario {
    display: flex;
    flex-direction: column; } }

/*------------ Tablets -------------*/
@media only screen and (min-width: 768px) {
  .caption-placement {
    text-align: end; }
  #text-clips {
    padding-top: 70px; }
  #video-clips-index, #video-clips-posit {
    display: none; }
  #video-clips-posit2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #video-clips-index2 {
    display: flex;
    justify-content: center;
    justify-items: center; }
  #index-clips, #index-subs, #index-bio, #index-schedule {
    background-image: linear-gradient(to right, #dd1818, #333333); }
  h4 {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 5px; }
  #ordenDelFormulario {
    padding-left: 30%;
    padding-right: 30%; }
  .table {
    display: flex;
    justify-content: space-around; } }

/*--------------- Pantallas Grandes ---------------*/
@media only screen and (min-width: 1440px) {
  #video-clips-posit2 {
    display: flex;
    flex-direction: row;
    justify-items: center; } }
